/* Website template by freewebsitetemplates.com */
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #0c2635; 
	margin: 0;
}


/*------------------------------ HEADER ------------------------------*/
#header {
	width: 960px;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
}

/** Logo **/
#logo {
	display: block;
	padding: 0 0 35px 20px;
}



/*------------------------------ Blog Page ------------------------------*/
#blogs {
	display: inline-block;
}
#blogs div.section h3, #blogs div.sidebar h3 {
	margin: 0 0 20px;
	text-transform: none;
}
#blogs div.section h3 a {
	color: #0e2934;
	text-decoration: none;
}

#blogs div.sidebar {
	float: right;
	width: 270px;
}
#contents #blogs div.sidebar ul li a {
	color: #646C6F;
	text-decoration: none;
}
#contents #blogs div.sidebar ul li a:hover {
	color: #0e2934;
}

#blogs div.posts {
	margin: 0 0 40px;
}
#blogs div.posts ul {
	margin: 0;
	padding: 0 0 0 20px;
}
#blogs div.posts ul li {
	padding-bottom: 10px;
}

#contents #blogs div.archives ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#contents #blogs div.archives ul li {
	float: left;
	width: 135px;
	line-height: 30px;
}

#blogs div.section {
	margin-right: 300px;
}

/*------------------------------ Contact us Page ------------------------------*/
#contents div#contacts ul {
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
#contents div#contacts ul li {
	width: 450px;
}
#contents div#contacts ul li p b {
	margin: 0;
	text-transform: none;
}

#services span, #solutions span, #support span {
	color: #0e2934;
	display: block;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 20px;
	text-align: justify;
}
#services span a, #solutions span a, #support span a {
	color: #0e2934;
	text-decoration: none;
}

/*------------------------------ Services Page ------------------------------*/
#services p {
	clear: both;
}
#services img {
	float: left;
	margin: 0 40px 20px 0;
}
#services ul {
	color: #646c6f;
	padding: 0;
}
#services ul li {
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 20px;
	text-align: justify;
}

/*------------------------------ Solutions Page ------------------------------*/
#solutions ul {
	color: #646c6f;
	margin: 0 0 0 15px;
	padding: 0;
}
#contents #solutions ul li p b {
	margin: 0 0 20px;
}

/*------------------------------ Support Page ------------------------------*/
#support {
	padding: 20px 30px 0 10px;
}
#support ul {
	color: #646c6f;
	list-style: none;
	margin: 20px 0;
	padding: 0 20px;
}
#support ul li {
	padding: 0 0 20px;
}
#support ul li img {
	float: left;
	margin-right: 20px;
}
#contents #support ul li p {
	margin: 0 0 0 116px;
}
#contents #support ul li p b {
	color: #0e2934;
	margin: 0 0 20px;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #456f7f;
	line-height: 20px;
	width: 940px;
	margin: 0 auto;
	padding: 20px 10px;
}

#footer ul.contacts {
	float: left;
	font-size: 12px;
	list-style: none;
	width: 300px;
	margin: 0;
	padding: 0 0 10px;
}
#footer ul.contacts h3 {
	font-size: 14px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#footer ul.contacts li span {
	float: left;
	width: 50px;
}
#footer ul.contacts li p {
	margin: 0 0 0 50px;
}

#connect {
	float: left;
	list-style: none;
	width: 140px;
	margin: 0;
	padding: 0;
}
#connect h3 {
	font-size: 14px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#connect li {
	padding: 0 0 5px;
}
#connect li a {
	color: #456f7f;
	font-size: 15px;
	text-decoration: none;
}

#newsletter {
	float: left;
	width: 500px;
	padding: 0 0 20px;
}
#newsletter p {
	font-size: 12px;
	margin: 0;
}
#newsletter p b {
	display: block;
	font-weight: 800;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#newsletter form {
	margin: 4px 0 16px;
}
#newsletter .txtfield {
	color: #9c9c9c;
	height: 25px;
	line-height: 25px;
	width: 200px;
	border: 0;
	margin: 0 6px 0 0;
	padding: 0 10px;
}
#newsletter .button {
	cursor: pointer;
	height: 25px;
	width: 25px;
	border: 0;
	padding: 0;
}

#footer span.footnote {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 40px 0 0;
	text-align: center;
}

/*------------------------------ For IE6 ------------------------------*/
